@media only screen and (min-width: 700px) {
    .content
    {
        display: flex;
        flex-direction: row;
        font-size: 15px;
        font-family: 'Times New Roman', Times, serif;
        color:  rgb(111, 83, 56);
        min-height: 650px;
        
    }   

    .content .left__logo
    {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        margin-top: 20px;
    }   

    .content__left  .logInLink
    {
        text-align: center;
        margin-top: 170%;
        font-size: 20px;
        color: black;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
    }

    .logInLink a, .logInLink a:hover, .logInLink a:visited
    {
        color: inherit;
        text-decoration: none;
    }

    .content__left
    {
        width: 250px;
        min-width: 250px;
        background-color: rgb(243, 235, 224);
    }

    .content__right{
        width: 100%;
        padding-left: 5%;
        padding-right: 5%;
    }

    .content__right h1
    {
        margin-top: 50px;
        font-weight: 100;
        letter-spacing: 5px;
    }

    .table-pendintes
    {
        width: 100%;
        border-collapse: collapse;
        margin-top: 30px;
    }

    .table-pendintes tr, .table-pendintes td
    {
        border: 1px solid black;
        border-spacing: 0px;
    }

    .table__header
    {
        text-align: center;
        background-color:  rgb(243, 235, 224);
        border: none;
        font-size: 16px;
        padding: 4px;
    }

    .gauges
    {
        display: flex;
        flex-flow: row;
        justify-content: space-around;
        width:100%;
        height: 200px;
        margin-bottom: 40px;
    }

    .gauge__text
    {
        text-align: center;
        margin: 0px;
        font-size: 15px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .gauge__text-first
    {
        text-align: center;
        margin: 0px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
    }

    
    .number
    {
        text-align: center;
    }

    .actionButton
    {
        align-content: center;
        text-align: center;
        padding: 0px;
    }

    .actionButton button
    {
        color: rgb(29, 28, 26);
        background-color: rgb(218, 193, 182);
        border: none;
        width: 100%;
        outline: none;
        font-size: 15px;
        margin: 0px;
        cursor: pointer;
        height: 30px;
    }

    #lastRow input{
        width: 100%;
        outline: none;
        border: none;
    }
    
    .table-add
    {
        margin: 0px;
        width: 100%;
        border-collapse: collapse;
    }

    .table-add tr, .table-add td
    {
        border: 1px solid black;
        border-spacing: 0px;
        border-top: none;
    }

}


@media only screen and (max-width: 700px) {
    .content
    {
        display: flex;
        flex-direction: row;
        font-size: 15px;
        font-family: 'Times New Roman', Times, serif;
        color:  rgb(111, 83, 56);
        min-height: 650px;
        
    }   

    .content .left__logo
    {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        margin-top: 20px;
    }   

    .content__left  .logInLink
    {
        text-align: center;
        margin-top: 170%;
        font-size: 20px;
        color: black;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
    }

    .logInLink a, .logInLink a:hover, .logInLink a:visited
    {
        color: inherit;
        text-decoration: none;
    }

    .content__left
    {
        width: 250px;
        min-width: 250px;
        background-color: rgb(243, 235, 224);
        display: none;

    }

    .content__right{
        width: 100%;
    }

    .content__right h1
    {
        margin-top: 50px;
        font-weight: 100;
        letter-spacing: 5px;
        text-align: center;
    }

    .table-pendintes
    {
        width: 100%;
        border-collapse: collapse;
    }

    .table-pendintes tr, .table-pendintes td
    {
        border: 1px solid black;
        border-spacing: 0px;
    }

    .table-pendintes tbody tr:first-child
    {
       background-color:  rgb(111, 83, 56);
       height: 20px;
    }

    .table-pendintes tbody tr
    {
       height: 250px;
    }
    .table-pendintes thead tr:first-child
    {
        border: none;
    }

    .table__header
    {
        text-align: left;
        background-color:  rgb(243, 235, 224);
        border: none;
        font-size: 16px;
        padding: 4px;
    }

    .gauges
    {
        display: flex;
        flex-flow: row;
        justify-content: space-around;
        width:100%;
        height: 200px;
        margin-bottom: 40px;
    }

    .gauge__text
    {
        text-align: center;
        margin: 0px;
        font-size: 15px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .gauge__text-first
    {
        text-align: center;
        margin: 0px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
    }

    .number
    {
        text-align: center;
    }
}